doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src='main.js')
body
  section(class="section")
    div(class="container")
      h1(class="title") Hello, world!
      p(class="subtitle") This is an application running with ExpressJS